{% extends "base.html" %}
{% block content %}
{% load static %}

<section class="content" style="visibility:hidden">
    <section class="post_form" style="visibility:visible">
       <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <input 
          type="text"
          name="name"
          placeholder="Name" 
          value="{{edittweet.name}}" 
          required 
          col
          />
          <input 
          name="body" 
          rows="2" 
          value="{{edittweet.body}}"
          required
          />
          <div class="editphoto">
            <img src="{{edittweet.image.url}}"/>
          </div>
          <input
            type="file"
            name="image"
            class="upload"
            value="{{edittweet.image.url}}"
          />
          <div class="editfooter">
            <input type="submit" value="Post" />
            <a href="{% url 'index' %}">Cancel</a>
          </div>
       </form>
    </section>
</section>

{% endblock %}