{% extends "base.html" %}
{% block content %}
{% load static %}
<section class="content">
   <section class="post_form">
      <form action="/" method="POST">
         {% csrf_token %} 
         <input type="text" none="none" placeholder="Name" required>
         <textarea name="body" placeholder="Tell us anything..." required> </textarea>
         <input type="submit" value="Post"/>
      </form>
   </section>
   <section class="posts">
      <ul>
         {% for post in posts %}
         <li>

			<img class="menu_icon" src="{% static 'img/options.png' %}" />
            <div class="logo">
				<img src="{% static 'img/profile.png' %}" alt="">
			</div>
			<div class="name_body">
               <div class="name">{{ post.name }}</div>
               <div class="datetime">{{ post.created_at }}</div>
               <p>{{ post.body}}</p>
               <a href='/delete/{{post.id}}'>delete</a>

			   
            </div>
         </li>
         {% endfor %}
      </ul>
   </section>
</section>
{% endblock %}
