{% extends "base.html" %}
{% block content %}
{% load static %}

<section class="content" style="visibility:hidden">
   <section class="post_form" style="visibility:visible">
      <form action="" method="POST" enctype="multipart/form-data">
         {% csrf_token %}
         <input type="text" name="name" placeholder="Name" required/>
         <input name="body" rows="3"placeholder="Tell us anything...." required> </input>
         <input type="file" name="image"/>
         <input type="submit" value="Post"/>
      </form>
   </section>
   <section class="posts"style="visibility:visible">
      <ul>
         {% for post in posts %}
         <li>
			<img class="menu_icon js-menu-icon" src="{% static 'img/options.png' %}" />
         <div class="menu">
            <ul>
               <li><a href="/delete/{{ post.id }}/">Delete</a></li>
               <li><a href="/edit/{{ post.id }}/">Edit</a></li>
            </ul>
         </div>
         <div class="logo">
				<img src="{% static 'img/profile.png' %}" alt="">
			</div>
			<div class="name_body">
               <div class="name">{{ post.name }}</div>
               <div class="datetime">{{ post.created_at }}</div>
               <p>{{ post.body}}</p>
               {% if post.image.url %}
               <div class="image">
                  <img src= "{{ post.image.url }}" >
               </div>
               {% endif %}
               <div class="like-count flex-container">
                  <a id="{{post.id}}" href="/like/{{ post.id }}">
                     <img src="{% static 'img/like.png' %}" alt="" />
                  </a>
                  <div class="like">{{post.like_count}} Like</div>
               </div>
            </div>
         </li>
         {% endfor %}
      </ul>
   </section>
   <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
   <script src="{% static 'js/posts.js' %}" ></script>
</section>
{% endblock %}
