/*
Common
***********************/

html,
body {
	height: 100%;
	background-color: #e6e6fa;
	font-family: sans-serif;
}

.heading{
	background: white;
	font-size: 1.7rem;
	width: 70%;
	margin: 13px auto;
}

.heading p{
	margin: 0;
	padding: 10px;
	background-color: blue;
}

header img{
	max-width: 10%;
}

section{
	background-color: #ffffff;
}

.content{
	max-width: 600px;
	height: 100%;
	margin: 0 auto;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.flex-container{
	display: flex;
	flex-direction: row;
}

@media screen and (max-width: 500px) {
	.posts li .name_body .name{
		font-size: 20px;
	}
}
/*
Posts
***********************/
.post_form{
	padding: 20px 40px;
	border-bottom: 1px solid #ccc;
}

.post_form input{
	width: 70%;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #ccc;
}

.post_form textarea{
	width: 70%;
	padding: 10px;
	border: 1px solid #ccc;
}

.posts ul {
	padding: 0;
}

.posts li {
	position: relative;
	display: flex;
	border-bottom: 1px solid #ccc;
	padding: 20px 40px;
	list-style: none;
}

.posts li .menu_icon {
	width: 20px;
    position: absolute;
    right: 30px;
    top: 18px;
}

.posts li .menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 15px;
    border: 1px solid #ccc; 
    background-color: white;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 3px;
}

.posts li .menu a {
    text-decoration: none;
}

.posts li .logo{
	flex-basis: 15%;
}

.posts li .logo img{
	width: 60%;
}

.posts li .name_body{
	flex-basis: 85%;
}

.posts li .name_body .name{
	font-weight: bold;
}

.posts li .name_body .datetime {
	color: gray;
}


